### Several ways to sort the DataFrame
1. Sorting by `Index`.
2. Sorting by designated columns.

In [1]:
import pandas as pd

In [2]:
df = pd.util.testing.makeMixedDataFrame()
df

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

## Sorting by `index`

In [3]:
df1 = df.sort_index(ascending=False)  # If True, then will be like 1,2,3,4....
df1

     A    B     C          D
4  4.0  0.0  foo5 2009-01-07
3  3.0  1.0  foo4 2009-01-06
2  2.0  0.0  foo3 2009-01-05
1  1.0  1.0  foo2 2009-01-02
0  0.0  0.0  foo1 2009-01-01

---

## Sorting by designated columns
***works on multiple data types.***

In [5]:
df2 = df.sort_values(["C"], ascending=True)
df2

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [6]:
df2_date = df.sort_values(["D"], ascending=False)
df2_date

     A    B     C          D
4  4.0  0.0  foo5 2009-01-07
3  3.0  1.0  foo4 2009-01-06
2  2.0  0.0  foo3 2009-01-05
1  1.0  1.0  foo2 2009-01-02
0  0.0  0.0  foo1 2009-01-01