In [1]:
import pandas as pd

In [2]:
caller = pd.DataFrame({'key':['K0', 'K1', 'K2', 'K3', 'K4', 'K5'], 'A':['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})

other = pd.DataFrame({'key':['K0', 'K1', 'K2','K99'], 'B':['B0', 'B1', 'B2', 'B99']})

print('[caller]')
print(caller)
print()
print('[Other]')
print(other)

[caller]
  key   A
0  K0  A0
1  K1  A1
2  K2  A2
3  K3  A3
4  K4  A4
5  K5  A5

[Other]
   key    B
0   K0   B0
1   K1   B1
2   K2   B2
3  K99  B99

### 1. Join DataFrame by `index`.

In [3]:
df1 = caller.join(other, lsuffix='_caller', rsuffix='_other')
df1

  key_caller   A key_other    B
0         K0  A0        K0   B0
1         K1  A1        K1   B1
2         K2  A2        K2   B2
3         K3  A3       K99  B99
4         K4  A4       NaN  NaN
5         K5  A5       NaN  NaN

### 2. Join DataFrame by designative `columns`.

2.1 Set both DataFrames' `index` into the column which want to use as a `key`.

In [4]:
df2 = caller.set_index('key').join(other.set_index('key'))
df2

      A    B
key
K0   A0   B0
K1   A1   B1
K2   A2   B2
K3   A3  NaN
K4   A4  NaN
K5   A5  NaN

2.2 Use `on='col'` to designate the **Left** DataFrame, and use `set_index()` for the **right** DataFrame.

In [5]:
df3 = caller.join(other.set_index('key'), on='key')
df3

  key   A    B
0  K0  A0   B0
1  K1  A1   B1
2  K2  A2   B2
3  K3  A3  NaN
4  K4  A4  NaN
5  K5  A5  NaN

In [6]:
df3_inner = caller.join(other.set_index('key'), on='key', how='inner')
df3_inner

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2

### 3. Other `join` methods

***Right join***

In [7]:
df4_right = caller.join(other, how='right', lsuffix='_caller', rsuffix='_other')
df4_right

  key_caller   A key_other    B
0         K0  A0        K0   B0
1         K1  A1        K1   B1
2         K2  A2        K2   B2
3         K3  A3       K99  B99

***Outer join***

In [12]:
df5_outer = caller.join(other.set_index('key'), on='key', how='outer')
df5_outer

     key    A    B
0.0   K0   A0   B0
1.0   K1   A1   B1
2.0   K2   A2   B2
3.0   K3   A3  NaN
4.0   K4   A4  NaN
5.0   K5   A5  NaN
NaN  K99  NaN  B99