In [1]:
import pandas as pd 
import numpy as np

***Example 1.***<br>
Basic use

In [2]:
df = pd.DataFrame({'number':np.random.randint(1, 100, 10)}) 
df

   number
0      32
1      19
2      32
3      12
4      52
5      15
6      86
7      71
8      21
9      50

In [3]:
df['bins'] = pd.cut(x=df['number'], bins=[1, 20, 40, 60, 80, 100]) 
df

   number       bins
0      32   (20, 40]
1      19    (1, 20]
2      32   (20, 40]
3      12    (1, 20]
4      52   (40, 60]
5      15    (1, 20]
6      86  (80, 100]
7      71   (60, 80]
8      21   (20, 40]
9      50   (40, 60]

In [4]:
df['bins'].unique()

[(20, 40], (1, 20], (40, 60], (80, 100], (60, 80]]
Categories (5, interval[int64]): [(1, 20] < (20, 40] < (40, 60] < (60, 80] < (80, 100]]

***Example 2.***<br>
Add the label

In [5]:
df['bins_with_label'] = pd.cut(x = df['number'], bins = [1, 20, 40, 60, 80, 100]
                    ,labels = ['1 to 20', '21 to 40', '41 to 60', '61 to 80', '81 to 100'])
df

   number       bins bins_with_label
0      32   (20, 40]        21 to 40
1      19    (1, 20]         1 to 20
2      32   (20, 40]        21 to 40
3      12    (1, 20]         1 to 20
4      52   (40, 60]        41 to 60
5      15    (1, 20]         1 to 20
6      86  (80, 100]       81 to 100
7      71   (60, 80]        61 to 80
8      21   (20, 40]        21 to 40
9      50   (40, 60]        41 to 60